<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('产品上传')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-management-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">产品名称：</label>
            <div class="col-sm-6">
                <input name="productName" class="form-control" type="text">
            </div>
        </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">数据频度：</label>
                <div class="col-sm-3">
                    <select class="form-control" name="">
                        <option>月度</option>
                        <option>季度</option>
                        <option>年度</option>
                    </select>
                </div>
            </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">数据时点：</label>
            <div class="col-sm-3">
                <div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" class="form-control time-input" value="2018-04-20">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">文件上传：</label>
            <div class="col-sm-6">
                <input type="hidden" name="">
                <div class="file-loading">
                    <input class="form-control file-upload" id="file" name="file" type="file">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">

    $(".file-upload").fileinput({
        uploadUrl: '/common/upload',
        maxFileCount: 1,
        showPreview:false,
        showUpload: false,
        uploadAsync: true,
        autoReplace: true
    }).on('filebatchselected', function (event, files) {//选中文件事件
        $(this).fileinput("upload");
    }).on('fileuploaded', function (event, data, previewId, index) {
        // 上传完成给隐藏域赋值
    }).on('fileremoved', function (event, id, index) {
        $("input[name='" + event.currentTarget.id + "']").val('')
    });


    var prefix = ctx + "system/management";

    $("#form-management-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-management-add').serialize());
        }
    }
</script>
</body>
</html>